*.class
.gradle
/build/
/bin/
/.settings/
.project
.classpath
target
.idea

# Package Files
*.jar
*.war
*.ear

# Serverless directories
.serverless

# For hidden environment variables in local dev env
.env
